<body>
        <div id="mainanim" class="mainP">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table" border="1">
                <thead>
                    <tr>
                        <th scope="col">
                        @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.ActionLink("+", "AddOneCart", new { orderId = item.DishId })
                            @Html.DisplayFor(modelItem => item.Amount)
                            @Html.ActionLink("-", "MinusOneCart", new { orderId = item.DishId })
                        </td>
                        @*<td>
                            @Html.ActionLink("+", "AddOneCart", new { orderId = item.DishId }) |
                            @Html.ActionLink("-", "MinusOneCart", new { orderId = item.DishId }) |
                        </td>*@
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <script src="~/js/mainTable.js"></script>
        <script src="~/js/p5.min.js" type="text/javascript"></script>
        <script src="~/js/vanta.topology.min.js" type="text/javascript"></script>

        <script>
            if (localStorage.count % 2 == 0)
                VANTA.TOPOLOGY({
                    el: "#mainanim",
                    mouseControls: true,
                    touchControls: true,
                    gyroControls: false,
                    minHeight: 1000.00,
                    minWidth: 1861.00,
                    scale: 1.00,
                    scaleMobile: 1.00,
                    color: 0x48270c,
                    backgroundColor: 0xf0d6b3
                });
            else
                VANTA.TOPOLOGY({
                    el: "#mainanim",
                    mouseControls: true,
                    touchControls: true,
                    gyroControls: false,
                    minHeight: 1000.00,
                    minWidth: 1861.00,
                    scale: 1.00,
                    scaleMobile: 1.00,
                    color: 0x764232,
                    backgroundColor: 0x251a11
                });
        </script>
    </body>
    </html>