@model IEnumerable<PizzaCommandProj.Models.Dish>
@{
    ViewData["Title"] = "Menu - Daroco";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="~/css/MenuCss.css">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">

</head>
<body>
    <div id="mainanim" class="mainP">
        <div class="content">
            <div class="whiteBack">
                </br>
                <h1 style="font-family: 'Avenir',sans-serif; font-weight: 100">HIDE</h1>
                <br />
                <h2 style="color: #251a11;">Restaurant menu </h2>
                <br />
                <h3>Aperitivi</h3>
                @foreach (var item in Model)
                {
                    @if (item.Category == "Aperitivi")
                    {
                        <ul>
                            <li><p class="center"><a href="#">@Html.DisplayFor(modelItem => item.Name)</a> &nbsp;<em>@Html.DisplayFor(modelItem => item.Price)</em> <a style="color: #764232;" href="#">@Html.ActionLink("Add to Cart", "AddCart", new { dishId = item.Id })</a> ~ <a style="color: #764232;" href="#">@Html.ActionLink("Buy", "NewOrder", new { dishId = item.Id })</a></p></li>
                        </ul>
                    }
                }
                <br />
                <h3>Appetizers</h3>
                @foreach (var item in Model)
                {
                    @if (item.Category == "Appetizers")
                    {
                        <ul>
                            <li><p class="center"><a href="#">@Html.DisplayFor(modelItem => item.Name)</a> &nbsp;<em>@Html.DisplayFor(modelItem => item.Price)</em> <a style="color: #764232;" href="#">@Html.ActionLink("Add to Cart", "AddCart", new { dishId = item.Id })</a> ~ <a style="color: #764232;" href="#">@Html.ActionLink("Buy", "NewOrder", new { dishId = item.Id })</a></p></li>
                        </ul>
                    }
                }
                <br />
                <h3>Pasta</h3>
                @foreach (var item in Model)
                {
                    @if (item.Category == "Pasta")
                    {
                        <ul>
                            <li><p class="center"><a href="#">@Html.DisplayFor(modelItem => item.Name)</a> &nbsp;<em>@Html.DisplayFor(modelItem => item.Price)</em> <a style="color: #764232;" href="#">@Html.ActionLink("Add to Cart", "AddCart", new { dishId = item.Id })</a> ~ <a style="color: #764232;" href="#">@Html.ActionLink("Buy", "NewOrder", new { dishId = item.Id })</a></p></li>
                        </ul>
                    }
                }
                <br />
                <h3>Secondi & Piatti freddi</h3>
                @foreach (var item in Model)
                {
                    @if (item.Category == "Secondi & Piatti freddi")
                    {
                        <ul>
                            <li><p class="center"><a href="#">@Html.DisplayFor(modelItem => item.Name)</a> &nbsp;<em>@Html.DisplayFor(modelItem => item.Price)</em> <a style="color: #764232;" href="#">@Html.ActionLink("Add to Cart", "AddCart", new { dishId = item.Id })</a> ~ <a style="color: #764232;" href="#">@Html.ActionLink("Buy", "NewOrder", new { dishId = item.Id })</a></p></li>
                        </ul>
                    }
                }
                <br />
                <h3>Pizzas</h3>
                @foreach (var item in Model)
                {
                    @if (item.Category == "Pizzas")
                    {
                        <ul>
                            <li><p class="center"><a href="#">@Html.DisplayFor(modelItem => item.Name)</a> &nbsp;<em>@Html.DisplayFor(modelItem => item.Price)</em> <a style="color: #764232;" href="#">@Html.ActionLink("Add to Cart", "AddCart", new { dishId = item.Id })</a> ~ <a style="color: #764232;" href="#">@Html.ActionLink("Buy", "NewOrder", new { dishId = item.Id })</a></p></li>
                        </ul>
                    }
                }
                <br />
                <h3>Dolci</h3>
                @foreach (var item in Model)
                {
                    @if (item.Category == "Dolci")
                    {
                        <ul>
                            <li><p class="center"><a href="#">@Html.DisplayFor(modelItem => item.Name)</a> &nbsp;<em>@Html.DisplayFor(modelItem => item.Price)</em> <a style="color: #764232;" href="#">@Html.ActionLink("Add to Cart", "AddCart", new { dishId = item.Id })</a> ~ <a style="color: #764232;" href="#">@Html.ActionLink("Buy", "NewOrder", new { dishId = item.Id })</a></p></li>
                        </ul>
                    }
                }
                <br />
                <h3><p class="center"><a asp-action="AllCart" style="color: #764232;">Cart</a></p></h3>
                <br />
                <h3><p class="center"><a asp-action="Index" style="color: #764232;">Back</a></p></h3>

            </div>
        </div>

        <script src="~/js/p5.min.js" type="text/javascript"></script>
        <script src="~/js/vanta.topology.min.js" type="text/javascript"></script>

        <script>
            if (localStorage.count % 2 == 0)
                VANTA.TOPOLOGY({
                    el: "#mainanim",
                    mouseControls: true,
                    touchControls: true,
                    gyroControls: false,
                    minHeight: 1080.00,
                    minWidth: 1861.00,
                    scale: 1.00,
                    scaleMobile: 1.00,
                    color: 0x48270c,
                    backgroundColor: 0xf0d6b3
                });
            else
                VANTA.TOPOLOGY({
                    el: "#mainanim",
                    mouseControls: true,
                    touchControls: true,
                    gyroControls: false,
                    minHeight: 1080.00,
                    minWidth: 1861.00,
                    scale: 1.00,
                    scaleMobile: 1.00,
                    color: 0x764232,
                    backgroundColor: 0x251a11
                });
        </script>
    </div>
</body>
</html>
